* {
  padding: 0px;
  margin: 0px;
  user-select: none;
}
.body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(210, 255, 210);
  z-index: 0;
  overflow-x: hidden;
}
