.drawer-main {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10;
  background-color: transparent;
  position: absolute;
  justify-self: center;
  align-self: center;
  backdrop-filter: blur(5px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  top: 0;
  transition: 2s;
  overflow-x: hidden;
  overflow-y: scroll;
}

.drawer-menu {
  height: auto;
  width: 40vw;
  background-color: rgb(210, 255, 210);
  box-shadow: 2px 0px 8px 0.1px rgba(0, 100, 0, 0.6);
  box-sizing: border-box;
  margin: 2vh 1vw;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2vh 0vw;
}
.drawer-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 95%;
  height: auto;
  background-color: lightgreen;
  box-shadow: 0px 0px 8px 0.01px rgba(0, 255, 0, 0.5);
  box-sizing: border-box;
  padding: 1vh 1vw;
  border-radius: 1vw;
  position: sticky;
  top: 1vh;
}
.drawer-title {
  font-size: 2vw;
  padding: 1vh 1vw;
  border-radius: 0.5vw;
  background-color: #c9ffc5;
  box-shadow: 0px 0px 8px 0.01px rgba(0, 100, 0, 0.278);
  box-sizing: border-box;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 100, 0, 0.6);
}
.drawer-close-btn {
  font-size: 2vw;
  padding: 1vh 1vw;
  border-radius: 0.5vw;
  background-color: #ff9c9c;
  box-shadow: 0px 0px 8px 0.01px rgba(100, 0, 0, 0.278);
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.drawer-close-btn:hover {
  background-color: #ff6262;
}

.drawer-content {
  margin-top: 5vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  border-radius: 1vw;
  box-sizing: border-box;
  padding: 2vh 1vw;
  box-shadow: 0px 0px 8px 0.01px rgba(0, 100, 0, 0.278);
  background-color: #b7ffb2;
}

.drawer-select-sensor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1vw;
}
