.header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2vh 3vw;
  gap: 1vw;
  background-color: lightgreen;
  box-shadow: 0px 0px 10px 1px lightgreen;
}

.header_title {
  font-size: 2vw;
  color: rgb(232, 255, 228);
  text-shadow: 1px 1px 5px rgb(0, 168, 0);
}

.list {
  transition: 0.5s;
}

.list:hover {
  scale: 1.1;
}
.header_title_con {
  padding: 1.5vh 1vw;
  background-color: rgb(0, 160, 0);
  border-radius: 0.5vw;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 0px 5px 1px rgba(0, 100, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

.header_title_con:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 100, 0, 1);
  scale: 1.05;
}

.set {
  /* padding: 5px 5px; */
  /* background-color: rgb(0, 160, 0); */
  /* box-shadow: 0px 0px 5px 1px rgba(0, 100, 0, 0.5); */
  cursor: pointer;
  transition: 0.5s;
}

.set:hover {
  /* box-shadow: 0px 0px 10px 1px rgba(0, 100, 0, 1); */
  /* top: 2vh; */
  scale: 1.1;
}

.lista {
  transition: 1s;
}

.lista:hover {
  scale: 1;
}

.profile {
  /* padding: 5px 5px; */
  margin-right: 0px;
  /* background-color: rgb(0, 160, 0); */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 5px 1px rgba(0, 100, 0, 0.5); */
  cursor: pointer;
  transition: 0.5s;
}

.profile:hover {
  scale: 1.1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1vh 0.5vw;
  border: 2px solid rgb(0, 160, 0);
  border-radius: 1vw;
  margin-left: auto;
  gap: 1vw;
  box-sizing: border-box;
}

.list {
  /* border: 2px solid rgb(0, 160, 0); */
  padding: 0px 0.5vw;
  box-sizing: border-box;
  border-radius: 0.5vw;
  cursor: pointer;
}

.time-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1vw;
}

.ist_txt {
  text-shadow: 1px 1px 4px rgba(0, 100, 0, 0.6);
  padding: 1vh 0.5vw;
  border: 1px solid rgb(0, 160, 0);
  border-radius: 0.5vw;
  box-shadow: 0px 0px 8px 0.1px rgba(0, 100, 0, 0.6);
  background-color: rgb(210, 255, 210);
  font-size: 1.5vw;
  font-variant-numeric: tabular-nums;
  text-align: center;
  white-space: nowrap;
}

.date_txt {
  width: max-content;
  text-shadow: 1px 1px 4px rgba(0, 100, 0, 0.6);
  padding: 1vh 0.5vw;
  border: 1px solid rgb(0, 160, 0);
  border-radius: 0.5vw;
  box-shadow: 0px 0px 8px 0.1px rgba(0, 100, 0, 0.6);
  background-color: rgb(210, 255, 210);
  font-size: 1.5vw;
  font-variant-numeric: tabular-nums;
  text-align: center;
  white-space: nowrap;
}

.utc_txt {
  text-shadow: 1px 1px 4px rgba(0, 100, 0, 0.6);
  padding: 1vh 0.5vw;
  border: 1px solid rgb(0, 160, 0);
  border-radius: 0.5vw;
  box-shadow: 0px 0px 8px 0.1px rgba(0, 100, 0, 0.6);
  background-color: rgb(210, 255, 210);
  font-variant-numeric: tabular-nums;
  text-align: center;
  white-space: nowrap;
  font-size: 1.5vw;
}

.svg-list,
.svg-profile,
.svg-settings {
  height: auto;
  width: 3vw;
  display: block;
}

.svg-title {
  height: auto;
  width: 2vw;
}
