.header {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 3vw;
  gap: 3vw;
  background-color: lightgreen;
  box-shadow: 0px 0px 10px 1px lightgreen;
}

.header_title {
  font-size: 2vw;
  color: rgb(232, 255, 228);
  text-shadow: 1px 1px 5px rgba(0, 255, 0, 0.219);
}

.list{
    transition: 0.5s;
}

.list:hover{
    scale: 1.1;
}
.header_title_con {
  padding: 2vh 1vw;
  background-color: rgb(0, 160, 0);
  border-radius: 1vw;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 0px 5px 1px rgba(0, 100, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

.header_title_con:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 100, 0, 1);
  /* top: 2vh; */
  scale: 1.05;
}

.set {
  /* padding: 5px 5px; */
  /* background-color: rgb(0, 160, 0); */
  /* box-shadow: 0px 0px 5px 1px rgba(0, 100, 0, 0.5); */
  cursor: pointer;
  transition: 0.5s;
}

.set:hover {
  /* box-shadow: 0px 0px 10px 1px rgba(0, 100, 0, 1); */
  /* top: 2vh; */
  scale: 1.1;
}

.lista{
    transition: 1s;
}

.lista:hover{
    scale: 1.;
}

.profile {
  /* padding: 5px 5px; */
  margin-right: 0px;
  /* background-color: rgb(0, 160, 0); */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 5px 1px rgba(0, 100, 0, 0.5); */
  cursor: pointer;
  transition: 0.5s;
}

.profile:hover {
  scale: 1.1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 10px;
  padding-top: 8px;
  border: 2px solid rgb(0, 160, 0);
  border-radius: 1vw;
  margin-left: auto;
  gap: 1.5vw;
  box-sizing: border-box;
}

.list {
  border: 2px solid rgb(0, 160, 0);
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 0.5vw;
  padding-top: 8px;
  cursor: pointer;
}
