.sensor-dropdown {
  appearance: none;         
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.6em 2.2em 0.6em 0.8em;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #9cff63;
  background: #87ff7e;
  cursor: pointer;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='black' d='M4 6l4 4 4-4z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.7em center;
  background-size: 0.8em;
  transition: all 0.3s ease;
}