.sensor-info-container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    gap: 2vw;
    margin-top: 2vh;
    background-color: lightgreen;
    padding: 1vh 1vw;
    border-radius: 1vw;
}