.main_con {
  height: auto;
  margin-top: 5vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
}
.value {
  font-size: 4vw;
}

.key {
  font-size: 2vw;
}

.content_box {
  height: 100%;
  border-radius: 1vw;
  min-width: 18vw;
  box-shadow: 0px 0px 10px 1px grey;
  padding: 1vh 1vw;
  box-sizing: border-box;
  background-color: rgb(188, 255, 188);
  transition: 0.5s;
}
.icon {
  max-width: max-content;
}

.param {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

img {
  height: auto;
  max-width: 6vw;
}

.content_box:hover {
  z-index: 1;
  scale: 1.1;
}

.parameters {
  height: auto;
  margin-top: 5vh;
  max-width: 60vw;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  row-gap: 3vw;
  border-radius: 1vw;
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.5);
  padding: 3vh 1vw;
}

.vitals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  gap: 2vw;
  row-gap: 3vw;
  border-radius: 1vw;
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.5);
  padding: 3vh 2vw;
}
